

body,html{
  scroll-behavior: smooth;
  overflow-x: hidden;

}
*{
   box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
button{
  white-space: nowrap;
}

ul li a{
  text-decoration: none;
  cursor: pointer; 
  color: #FFFFFF;
  opacity: .6;
}
ul li a:hover{
  opacity: 1;
}
li{
  list-style: none;
}
li a{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

/* BLACK NAVBAR */
.main-nav{
  background-color: #160A21;
  display: grid;
  grid-template-columns: 35rem 1fr .3fr 7rem ;
  align-items: center;
  height: 62px;
}
.mobile{
  display: none;
}

.logo{
  width: 256px;
  height: 38px;
  grid-column: 2;
}

.authentication ul{
display: flex;
list-style: none;
padding-right: 20px;

}
.authentication ul li a{
padding: 0 30px;


}


/* WHITE NAVBAR */
.white-nav{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  color: #160A21;
}
.homeIcon{
 size: 2em;
 padding-left: 14px;
 color: #160A21;
}
.white-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}
.white-nav li a{
  color:#160A21 ;
  float: left;
  text-decoration: none;
  padding: 0 20px;
}


/* HOME */
/* .bg{
  background-image: url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  
} */
.home{
  height: 100%;
}
.bg2{
  background-image: url(./images/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  
  
  
}
.home-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 70px;
  padding-top: 70px;
  
}
.home-text{
   
  color: white;
  /* line-height: ; */
  /* padding-top: 25px ; */
}
.home-text:hover{
  transform: scale(1.1);
}

.home-text,.home-img{
transition-property: transform;
transition-duration: 2s;
}
h1{
 font-family: 'Inter', sans-serif;
 font-size: 4.5rem;
 
}

.purple{
  color:#A22DBA;
}
.white{
  color: #FFFFFF;
}
.home-img{
  width: 440px;
  height: 440px;
  /* margin: 0px 40px; */
}
.home-img:hover{
  transform: scale(1.1) translateY(-40px);
  
}


/* SEARCH BOX */
.search{
  display: flex;
  flex-direction: column;
  /* width: 320px; */
 /* height: 400px; */
 padding: 20px;
 background: rgba(198, 145, 250, 0.2);
border-radius: 64px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transition: 3s;

}
.search:hover{
  transform: scale(1.1);
  
}
.searchBoxes{
/* width: 300.32px; */
padding: 10px 12px;
border-radius: 100px;
margin: 7px;

}
.a{
  background-color: #70DEFA;
  
}
.b{
background-color: #FFF7A5;
}
.c{
  background-color: #FD58F4;
}
.d{
  background-color: #FFFEFF;
}

.searchBox-btn{
  background-color: transparent;
  border: none;
  color: white;

}
.search-container {
  display: flex;
  justify-content: center;
  margin: 30px 5px;
  margin-bottom: 45px;
}

.search-container input[type=text] {
  padding: 10px;
  border: none;
  font-size: 16px;
  
}

.search-container button {
  padding: 10px 15px;
  background-color: #1E1E1E;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;

}

.search-container button:hover {
  background-color: #3e8e41;
}


/* MID PAGE */
.mid-page{
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
 padding: 0px 70px;
}
.mid-page img{
  Width:350px;
  transform: rotate(-10.15deg);

}
.mid-page img:hover{
  /* transform: rotate(-1.15deg); */
  transform: scale(1.1);
  transition: all 3s ;

}
.mid-page img{
  transition-property: transform;
  transition-duration: 3s;
}
.text{
Width:800px;
text-align: center;
}

/* PAGES */
.pages{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 .box{
  padding: .5rem;
 


 }
 .boxl{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 9rem;
  margin: 3.3rem 0;
 }
 .boxr{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 9rem;
  margin: 3.3rem 0;
  margin-top: 3.5rem;
 }
 .right{
  margin-top:6rem;
 }

 .box1{
  background-color:  #8F4DCB;
 
 }
 .box2{
  background-color: #CF9BFE;
 
 }
 .box3{
  background-color: #F0E1FF;
 
 }
 .box4{
  background-color: #FFB548;
 
 }
 .box5{
  background-color: #FEF5A8;
 
 }
 .box6{
  background-color: #FFF6D7;
 
 }
 .boxl img{
  width: 2rem;
  margin: 0 6rem 0 1rem;
 }
 .boxr img{
  width: 2rem;
  margin: 0 1rem 0 6rem;
 }


 .line{
  border-left: 4px solid  #FFFFFF;
  height:355px;
  width: 1px;
  position: relative;
 
 }
 .dot{
  position: relative;
  top: 0;
  left: -14px;
  border: 12px solid  #FFFFFF;
  border-radius: 100%;
 }

/* STORY PAGE */
.stories-page{
padding: 60px 70px;
}
 h2{
  color: #FFFFFF;
  font-size: 2.5rem;
  text-align: center;

}
.stories{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px;
  
}


.story-box {
  border: 8px solid rgba(156, 139, 139, 0.55);
  width: 276px;
  height: 340px;
  background-image: url(./images/story1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* margin:0 1.8rem; */
 
}
.story-box:hover {
transform: scale(1.1);

}

.story-box,.sub-story-box{
  transition-property: transform;
  transition-duration: 0.6s;
}

.sub-story-box{
  position: relative;
  color: #FFFFFF;
  background-color:#000000;
  border: 4px solid rgba(156, 139, 139, 0.55);
  font-size: 10px;
  text-align: center;
  padding: 12px;
  width: 12rem;
  top: 17.5rem;
  left: 1.5rem;
}
.sub-story-box:hover{
  transform: scale(1.1);
}
.sub-story-box a{
  font-size: 10px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  top: 5px;
  left: 50px;
  
}
.arrow{
  background: rgba(197, 138, 138, 0.59);
  color:#1E1E1E;
  padding: 4px;
  border-radius: 20px;
}

/* LOVE PAGE CSS */
.love {
  position: relative; 
  background-image: url(./images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 20rem;
}
.love::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(./images/loveBg.png);
  background-size: cover;
  
  background-repeat: no-repeat;
  /* background-position: center; */
 opacity: .45;
}
h2, h3{
  position: relative;
  color: white;
}
.btns{
  position: relative;
  display: flex;
  background-color: #645162;
  padding: 0.438rem 1.875rem;
  border-radius: 30px;
  margin: 2.5rem 0;
}
.btn{
background-color: #D9D9D9;
padding: 0.2rem 2.913rem;
/* outline: 1px solid #645162;
border:2px solid #D9D9D9 ; */
margin:  3px 10px;
border-radius: 30px;
box-shadow:
0 0 0 2.5px #645162,
0 0 0 5px#D9D9D9;
}

.btn:hover{
  background-color: #645162;
  color: #D9D9D9;
}
.love p{
  position: relative;
  color: white;
  margin: 20px 0;
  text-align: center;
}
.love-search{
  position: relative;
  background-color:  rgba(207, 155, 254, 0.7);
  width: 30rem;
  height: 3rem;
  border-radius: 90px;
  margin: 30px 0;
 

}

/* ASTRAUNAUT */
.astro{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.astro img{
  width: 24rem;
  transition: 3s;
}
.astro img:hover{
  transform: scale(1.3);
  
}

/* FOOTER */

.footer{
  display: flex;
  padding: 27px 47px 27px 17px ;
  background-color: #120B1A;
  font-family: 'Crimson Pro';
  font-weight: 400;
  line-height: 30px;
  justify-content: space-between;
  align-items: center;
  

}
.footer img{
  width: 21.875rem;
 
}


.flex{
  display: flex;
}
.sm{
 border-radius: 100%;
   /* margin-left:1.5rem;
   margin-top:.5rem ; */
   background-color: white;
   margin-right: 1rem;
   margin-top: .9rem;
   
  }
.sm{
  transition: .3s;
}
.sm:hover {

  transform: translateY(-14px);
   
  }

  .git,.ig,.linkdn{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin: .5rem;
    
  }



  /* LOGIN PAGE CSS */
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 60vh; */
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    margin-bottom: 60px;
    margin-top: 20px;
    
}

.container span{
    color: #fff;
    font-size: samll;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    white-space: nowrap;
}

header{
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    
}

.input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
}

i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.login-left{
    display: flex;
}

label a{
    color: #fff;
    text-decoration: none;
}
.mid{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.social-text{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
hr{
  width: 6rem;
  border-bottom: 2px solid #fff;
  margin: 2px 6px;
}

/* BLOG PAGE CSS */

.blog{
  width: 320px;
  box-sizing: border-box;
  border-radius: 100px;
  margin: 8rem 1rem 0 1rem;

}
.blog img{
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.blog-text{
  padding: 10px;
  color:  #FFFFFF;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
font-size: 14px;

}
/* .blog-text1{ background-color: rgba(158, 49, 49, 0.5);}
.blog-text2{background: rgba(59, 159, 181, 0.6);}
.blog-text3{ background-color: rgba(135, 95, 220, 0.6);}
.blog-text1{ background-color: rgba(158, 49, 49, 0.5);}
.blog-text1{ background-color: rgba(158, 49, 49, 0.5);}
.blog-text1{ background-color: rgba(158, 49, 49, 0.5);}
.blog-text1{ background-color: rgba(158, 49, 49, 0.5);} */

/* BLOGS */

.blogs{
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog-btn{
  padding: 1px 6px;
  margin-bottom: 7px;
  border-radius: 12px;
}
.blogs hr{
  width: 18rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin: 2px 6px;
}
.blogs li a{
  padding-left: 7px;
}

/* EXPERIENCE PAGE CSS */
.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}

.custom-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-form input[type="text"],
.custom-form textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.desc{
  height: 200px;
}
.custom-form button[type="submit"] {
  background-color: #763aaa;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-form button[type="submit"]:hover {
  background-color: #2f0359;
}



@media screen and (max-width: 1193px) {

  html {
    font-size: 15px;
  }

  .home-container{
    padding: 60px  0;
    justify-content: center;
  }

  .home-text{
    text-align: center;
  }
  .search{
    margin-top: 40px;
  }
  .mid-page{
    padding: 0 15px;
  }

  .text{
    width: 100%;
    text-align: unset;
    padding-bottom: 30px;
    text-align: center;
  }

  .boxl{
    padding-right:1.5rem;
    font-size: 13px;
   white-space: nowrap;
   margin: 3rem 0;

  }
  .boxr{
    padding-left: 1.5rem;
    font-size: 13px;
    white-space: nowrap;
    margin: 3rem 0;

  }
  .boxl img{
    margin: 0 1.5rem 0 0;
    width: 1.7rem;
  }
  .boxr img{
    margin: 0 0 0 1.5rem;
    width: 1.7rem;
  }
  .line{
    border-left: 2.7px solid #FFFFFE;
    height: 302px;
  }
  .dot{
    left: -10px;
    border: 9px solid #FFF;
  }
  .stories{
    flex-direction: column;
    
  }
  .story-box {
    margin: 2.6rem 0; 
    width: 320px;
   height: 400px;
  }

  .sub-story-box{
    top: 22.5rem;
   left: 3.5rem;
  }
 .arrow{
  display: none;
 }

.home-img{
  display: none;
}
 .mid-page{
  flex-direction: column;
 }
 .love{
  padding: 20px 15px;
 }
 .love-search{
  width:100%;
  height: 2.5rem;
 }
 .btns{
 flex-wrap: wrap;
 }
 .btn{
  padding: 0.1rem 1.5rem;
  font-size: 12px;
  margin: 7px 10px;
 }
.astro2,.astro4,.astro5{
  display: none;
}

 .footer{
  padding: 27px 1rem 27px 1rem;
 }
 .footer-text ul{
  padding-left: 0;
  font-size: .85rem;
 }
 .footer img{
  width: 14rem;
 }
 .Links{
  display: none;
 }
 .authentication{
  display: none;
 }
 .mobile{
  display: block;
 }
 .ham,.cross{
  color: white;
  font-size: 1.5rem;
 }
 .cross{
  display: none;
 }
 .main-nav{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
 }
}